#toggle-btn {
    display: none;
}

#menu {
    display: none;
}

header {
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    background: #fff;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

header .logo {
    float: left;
    width: 200px;
    margin-top: 25px;
    margin-left: 70px;
}


header nav{
    float: right;
    width: 700px;
    text-align: center;
    margin-top: 25px;
    margin-right: 80px;
}

header nav ul.gnb {
    width: 100%;
}

header nav ul.gnb>li {
    width: 25%;
    float: left;
    position: relative;
}

header nav ul.gnb>li.on>a {
    color: #494FEC;
    font-weight: 700;
    border-bottom: 3px solid #494FEC;
}

header nav ul.gnb>li>a {
   font-size: 24px;
   font-weight: 500;
}

header nav ul.gnb>li:hover>a {
    color: #494FEC;
    font-weight: 700;
    border-bottom: 3px solid #494FEC;
}

#home {
    width: 100vw;
    height: 100vh;
    background: #494FEC;
    position: relative;
}

#home article {
    position: absolute;
    top: 25vh;
    color: #fff;
    margin-left: 70px;
    font-size: 44px;
}

#home #click {
    position: absolute;
    right: 10vw;
    top: 80vh;
    color: #fff;
    font-size: 70px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.5s;
}

#click:hover {
   transform: translateY(10px);
}

#about {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: relative;
}

#about .info {
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .info .photo {
    width: 500px;
    height: 500px;
    background: url(../images/me.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 50%;
}

#about .info .idea {
    margin-left: 50px;
    text-align: center;
}

#about .info .idea h2 {
    font-size: 36px;
    font-family: 500;
}

#about .info .idea span {
    font-size: 48px;
    color: #494FEC;
    font-weight: 700;
}

#about .info .idea p {
    font-size: 18px;
    padding-top: 10px;
    font-weight: 400;
}

#about .intro {
    position: absolute;
    top: 25%;
    right: 15%;
}

#about .intro h1 {
    color: #494FEC;
    font-size: 24px;
    font-weight: 700;
}

#about .intro p {
    font-size: 16px;
    font-weight: 400;
}

#about .intro .me {
    width: 300px;
    border-bottom: 1px solid #ccc;
}

#about .intro .me h1 {
    padding-bottom: 15px;
}

#about .intro .me p {
    padding-bottom: 10px;
}

#about .intro .edu {
    width: 300px;
    border-bottom: 1px solid #ccc;
}

#about .intro .edu h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}

#about .intro .edu p {
    padding-bottom: 10px;
}

#about .intro .license {
    width: 300px;
    border-bottom: 1px solid #ccc;
}

#about .intro .license h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}

#about .intro .license p {
    padding-bottom: 10px;
}

#about .skill {
    width: 300px;
}

#about .skill h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}

#about .skill ul {
    display: flex;
}

#about .skill ul li {
    padding-right: 10px;
    transition: all 0.5s;
}

#about .skill ul li:hover {
    transform: scale(1.2);
}

#about .skill ul li img {
    width: 40px;
    height: 40px;
}

#work {
    width: 100vw;
    height: 100vh;
    background: #FFF7EB;
    position: relative;
}

#work .works {
    position: absolute;
    display: flex;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

#work .works .work_img {
    width: 500px;
    height: 500px;
    background: #fff;
     display: flex;
    justify-content: center;
    align-items: center;
}

.work_img img {
    height: 500px;
}


#work .works .work_txt {
    width: 500px;
    height: 500px;
    background: #494FEC;
    color: #fff;
    padding: 30px;
}

.work_txt h1 {
    margin-bottom: 20px;
}

.work_txt h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.work_txt  p {
    line-height: 2;
}

.click button{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin-top: 70px;
    margin-right: 20px;
    color: #494FEC;
}

.swiper {
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: 10vh;
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

/* .swiper .swiper-pagination {
    position: absolute;
    bottom: 80px; 
} */


.swiper-pagination-bullet { 
    width: 15px; 
    height: 15px; 
    background: #fff; 
    border: 1px solid #494FEC; 
    opacity: 1;
}

.swiper-pagination-bullet-active { 
    width: 15px; 
    background: #494FEC; 
    border: 1px solid transparent; 
}

.swiper-button-next {
    position: absolute;
    right: 100px;
    top: 60%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #494FEC;
    color: #494FEC;
}
  
.swiper-button-prev {
    position: absolute;
    left: 100px;
    top: 60%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #494FEC;
    color: #494FEC;
  }
  

#contact {
    width: 100vw;
    height: 100vh;
    background: #494FEC;
    position: relative;
}

#contact .thank {
    width: 500px;
    height: 250px;
    position: absolute;
    border-top: 1px solid #FFF7EB;
    border-bottom: 1px solid #FFF7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
}

#contact .thank h1 {
    font-size: 64px;
    color: #FFF7EB;
    font-weight: 700;
}

#contact .contact {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
    color: #fff;
}

#contact .contact h1 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 15px;
}

#contact .contact p {
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
}
